<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<p th:unless="${accounts} and ${accounts.size()}">No currently linked accounts</p>

<nav th:replace="fragments :: navigation"></nav>

<p th:text="${session.currentUser.email}"></p>

<table class="table">

    <tr>
        <th>Service / Name</th>
        <th>Password</th>
    </tr>

    <tr th:each="account : ${accounts}">
        <td th:text="${account.name}"></td>
        <td th:text="${account.password}"></td>
    </tr>

</table>
</body>
</html>