<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 class="title" th:text="${title}">Default Title</h1>

<p class="ptags" th:unless="${tests} and ${tests.size()}">No current mods</p>

<nav th:replace="fragments :: navigation"></nav>

</br>

<p class="ptags" th:text="${session.currentUser.email}"></p>

</br>

<table class="table">
    <tr>
        <th class="ptags">Type</th>
        <th class="ptags">Entry</th>
    </tr>
        <div th:if="${tests != null}">
            <tr th:each="test : ${tests}">
                <div th:if="${test.userid} == ${session.currentUser.id}">
                    <td class="table_data_specials" th:if="${test.role == 1}" th:text = "Special"></td>
                    <td class="table_data_alphas" th:if="${test.role == 2}" th:text = "Alphabetic"></td>
                    <td class="table_data_numerics" th:if="${test.role == 3}" th:text = "Numeric"></td>
                    <td class="table_data" th:text="${test.entry}"></td>

                </div>
            </tr>
        </div>

</table>

    <a class="btn btn-danger" href="/mod/remove">Delete mod(s)</a>
    <a class="btn btn-success" href="/mod/add">Add mod(s)</a>

</br>
</br>
</br>


</body>
</html>