<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<p th:unless="${tests} and ${tests.size()}">No current mods</p>

<nav th:replace="fragments :: navigation"></nav>

<p th:text="${session.currentUser.email}"></p>

<table class="table">
    <tr>
        <th>Type</th>
        <th>Entry</th>
    </tr>
        <div th:if="${tests != null}">
            <tr th:each="test : ${tests}">
                <div th:if="${test.userid} == ${session.currentUser.id}">
                    <td th:if="${test.role == 1}" th:text = "Special"></td>
                    <td th:if="${test.role == 2}" th:text = "Alphabetic"></td>
                    <td th:if="${test.role == 3}" th:text = "Numeric"></td>
                    <td th:text="${test.entry}"></td>

                </div>
            </tr>
        </div>

</table>

    <a href="/mod/remove">Delete mod(s)</a> |
    <a href="/mod/add">Add mod(s)</a>




</body>
</html>