<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 class="title" th:text="${title}">Default Title</h1>

</br>

<nav th:replace="fragments :: navigation"></nav>

</br>

<form method="post">

    <div th:each="test : ${tests}" class="checkbox">

        <div th:if="${test.userid} == ${session.currentUser.id}">

            <input type="checkbox" name="modIds" th:value="${test.id}" th:id="${test.id}"/>
            <label class="ptags" th:for="${test.id}" th:text="${test.entry}"></label>
            <br />

        </div>

    </div>

    </br>

    <input class="btn btn-danger" type="submit" value="Remove Mod(s)" />
</form>

</body>
</html>