<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 class="title" th:text="${title}"></h1>

<nav th:replace="fragments :: navigation"></nav>

</br>

<p class="ptags">Welcome to Keyword, your personal password bank</p>
<p class="ptags" th:text="${session.currentUser.email}"></p>
</br>
<p class="headers">What is Keyword and how to use it...</p>

<p class="table_data">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspKeyword is an app that allows you to generate, store, and customize random passwords. </br>
    Serving as a secure location for the storage of passwords and utilizing a system to create unique pseudo random keys. </br>
    This promotes more secure account creation habits for all those who create/update passwords often.</br>
    After registering and logging in you can visit the "Mods" page to create mods.

    </br>
    </br>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbspMods serve as fragments that are hashed together to generate personalized passwords. </br>
    Mods can be saved as one of three different types: <div class="table_data_alphas">Alphabetic</div><div class="table_data_numerics">Numeric</div><div class="table_data_specials">Special</div> </br>
    Each corresponding to a type of character a password might contain </br>

    </br>

    &nbsp&nbsp&nbsp&nbsp&nbsp Creating a large library of mods allows the Generator to produce more diverse keys. </br>
    Edit your mod list however you see fit.  Keep it shorter to generate keys that have less variance but still contain </br>
    segments the user specifies.  Or, create a large library to see drastically different results each time.













</p>

</body>
</html>