<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="all"/>

    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/resources/style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Montserrat:b|Concert+One:b|Open+Sans">
</head>
<body>

<nav th:fragment="navigation">
    <a class = "title" href="/keyword">Home</a> |
    <a class = "title"  href="/keyword/login">Login</a> |
    <a class = "title"  href="/keyword/register">Register</a> |
    <a class = "title"  href="/account">Accounts</a> |
    <a class = "title"  href="/mod">Mods</a> |
    <a class = "title"  href="/generator">Generator</a> |
    <a class = "title"  href="/keyword/logout">Logout</a>

</nav>

</body>
</html>