<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="all"/>

    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="resources\static\css" rel="stylesheet"/>
</head>
<body>

<nav th:fragment="navigation">
    <a href="/keyword">Home</a> |
    <a href="/keyword/login">Login</a> |
    <a href="/keyword/register">Register</a> |
    <a href="/account">Accounts</a> |
    <a href="/mod">Mods</a> |
    <a href="/generator">Generator</a> |
    <a href="/keyword/logout">Logout</a>

</nav>

</body>
</html>