<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<br>
<br>

<form method="post" style="max-width:600px;">

    <div class="form-group">
        <label>Set the number of mods to be used - for best results enter 4 - 8</label>
        <input class="form-control" name="range"/>
    </div>

    <br/>
    <label>Select what kind of mods you want to include</label>

    <div class="checkbox">

        <input type="checkbox" name="typeIds" th:value="${'1'}"/>

        <label>Special</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="checkbox" name="typeIds" th:value="${'2'}"/>

        <label>Alphabetic</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="checkbox" name="typeIds" th:value="${'3'}"/>

        <label>Numeric</label>

    </div>
    <br/>
    <input type="submit" value="Generate password"/>
</form>

</body>
</html>